export PROJECT_DIR=${PWD}
PATH=${PROJECT_DIR}/bin:${PATH}
SECRETS_DIR=${PROJECT_DIR}/secrets

export TF_VAR_domain=crdant.net
export TF_VAR_email=cdantonio@vmware.com
export TF_VAR_project_root=${PROJECT_DIR}
export TF_VAR_environment=lab
